.boxLoginBtn {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%; /* Garante que a div boxLoginBtn ocupa toda a largura disponível */
   margin-bottom: 20px;
}

.LoginBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 5px; 
  background-color: rgb(233, 233, 233);
  cursor: pointer;
  gap: 10px;
  width: 100%; /* Garante que todos os botões tenham a mesma largura */
  box-sizing: border-box; /* Inclui padding e borda no cálculo da largura */
}

.LoginBtn:hover {
     background-color: #f7f7f7;
}

.LoginBtn .social-icon {
  width: 24px;
  height: 24px;
  margin-right: 5px;
}